<form method="post">

    <label for="nom_quizz">Nom de votre questionnaire</label>
    <br>
    <input type="text" name="nom_quizz" id="nom_quizz">
    <br>
    <input type="submit" value="Valider">


</form>